.result {

}
.mygradeS{
    background-color: #cd595a
}
.mygradeA{
    background-color:#93C572
}
.mygradeB{
    background-color: #699
}
.mygradeC{
    background-color: burlywood
}
.mygradeD{
    background-color: #6b717f
}
ion-card h2 {
    margin: 2px 0;
    font-size: 10.6rem;
    font-weight: normal;
    color: white;
}