<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="PRAGMA" content="NO-CACHE"/>
    <title>Dashboard</title>

    <link href="/assets/css/internal/core/core.css" rel="stylesheet"/>



</head>

<body>

<div ng-app="app.home">
  <h1>Dashboard</h1>
    <div ui-view></div>
</div>

<script type="text/javascript" src="/assets/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/assets/lib/angular-ui-router/ui-router.min.js"></script>

<script type="text/javascript" src="/auth/auth.module.js"></script>
<script type="text/javascript" src="/auth/routes/auth.routes.js"></script>


</body>
</html>

