<!--<div [hidden]="!isDelayedRunning" class="spinner">  
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>-->
<!--<div [hidden]="!isDelayedRunning" class="sk-wandering-cubes">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
      </div>-->
<div [hidden]="!isDelayedRunning" class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>