<div class="col-xs-12  ">
    <div class="col-sm-4 form-group " *ngIf="showDepartmentAggregation == true">
        <input [(ngModel)]="departmentaggregatedvalue" type="checkbox" [disabled]="false " name="departmentaggregatedvalue" value="true"
            [checked]="departmentaggregatedvalue" (click)="onClickDepartmentAggregateCheckBox()" /> <label class="control-label">Department Level Aggregation</label>
    </div>
    <div class="col-sm-4 form-group" *ngIf="showDivisionAgrregation == true">
        <input [(ngModel)]="divisionaggregatedvalue" type="checkbox" [disabled]="false " name="divisionaggregatedvalue" value="true"
            [checked]="divisionaggregatedvalue" (click)="onClickDivisionAggregateCheckBox()" /> <label class="control-label">Division Level Aggregation</label>
    </div>
    <div class="col-sm-4 form-group" *ngIf="showSectionAgrregation == true">
        <input [(ngModel)]="sectionaggregatedvalue" type="checkbox" [disabled]="false " name="sectionaggregatedvalue" value="true"
            [checked]="sectionaggregatedvalue" (click)="onClickSectionAggregateCheckBox()" /> <label class="control-label">Section Level Aggregation</label>
    </div>
</div>
<!--<button type="submit" class="btn btn-default"  (click)="getTotalDefectsForTeam()" >get teams total</button>-->
<!--<div class="tab-table col-xs-12 mart20" *ngIf="aggregatedvalue">
 <div class="col-xs-12  teamname mart20">[(ngModel)]= "showAggregation"
        <h4><center> Total No. of Escaped Defects Projected: </center></h4>
        <h4><center>Total Quality Defects-External to ACSD: </center></h4>
        <h4><center>Total Quality Defects-External to CAT: </center></h4>
        <h4><center>end of all team</center></h4>
    </div>
</div>-->

<!--department level aggregation starts here-->
<div class="tab-table col-xs-12 mart20" *ngIf="departmentaggregatedvalue==true">
    <div *ngFor="let data of departmentLevelQualityDetails">
        <div class="col-xs-12  teamname mart20">
            <h4>
                <center>Department{{data.departmentName}}</center>
            </h4>
        </div>
        <div class="col-xs-12  teamname mart20" *ngIf="tot">
            <h4>
                <center> Total No. of Escaped Defects Projected: </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to ACSD: </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to CAT: </center>
            </h4>
        </div>
        <div class="col-sm-6  marb20" *ngFor="let quality of data.qualityData">
            <div class="card-block  col-xs-12 no-padding editable mart20 ">
                <div class="card-date">
                    <div class="card-month">{{quality.month}}</div>
                    <div class="card-year">{{quality.year}}</div>
                </div>
                <div class="card-info">
                    <div class="">
                        <p class=" pull-left "><span class="glyphicon glyphicon-check "></span>No. of Escaped Defects</p>
                        <p class="pull-right "><b>{{quality.defects}}</b></p>
                    </div>

                    <div class="">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to ACSD</p>
                        <p class="pull-right"><b>{{quality.defectsExtAcsd}}</b></p>
                    </div>

                    <div class="">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to CAT</p>
                        <p class="pull-right"><b>{{quality.defectsExtCat}}</b></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Department level aggregation ends here-->

<!--Division level aggregation starts here-->
<div class="tab-table col-xs-12 mart20" *ngIf="divisionaggregatedvalue==true">
    <div *ngFor="let data of divisionLevelQualityDetails">
        <div class="col-xs-12  teamname mart20">
            <h4>
                <center>{{data.divisionName}}</center>
            </h4>
        </div>
        <div class="col-xs-12  teamname mart20" *ngIf="tot">
            <h4>
                <center> Total No. of Escaped Defects Projected: </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to ACSD: </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to CAT: </center>
            </h4>
            <h4>
                <center>end of all team</center>
            </h4>
        </div>
        <div class="col-sm-6  marb20" *ngFor="let quality of data.qualityData">
            <div class="card-block  col-xs-12 no-padding editable mart20 ">
                <div class="card-date">
                    <div class="card-month">{{quality.date|date:'MMM'}}</div>
                    <div class="card-year">{{quality.date|date:'yyyy'}}</div>
                </div>
                <div class="card-info">
                    <div class="">
                        <p class=" pull-left "><span class="glyphicon glyphicon-check "></span>No. of Escaped Defects</p>
                        <p class="pull-right "><b>{{quality.defects}}</b></p>
                    </div>

                    <div class="">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to ACSD</p>
                        <p class="pull-right"><b>{{quality.defectsExtAcsd}}</b></p>
                    </div>

                    <div class="">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to CAT</p>
                        <p class="pull-right"><b>{{quality.defectsExtCat}}</b></p>
                    </div>

                </div>
            </div>
        </div>
    </div> <!--for loop ends here  -->
</div>
<!--Division level aggregation ends here-->

<!--Section level aggregation starts here-->
<div class="tab-table col-xs-12 mart20" *ngIf="sectionaggregatedvalue && divisionaggregatedvalue==false">
    <div *ngFor="let data of sectionLevelQualityDetails ">
        <div class="col-xs-12  teamname mart20">
            <h4>
                <center>{{data.sectionName}}</center>
            </h4>
        </div>
        <div class="col-xs-12  teamname mart20" *ngIf="tot">
            <h4>
                <center> Total No. of Escaped Defects Projected: </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to ACSD: </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to CAT: </center>
            </h4>
            <h4>
                <center>end of all team</center>
            </h4>
        </div>
        <div class="col-sm-6  marb20" *ngFor="let quality of data.qualityData">
            <div class="card-block  col-xs-12 no-padding editable mart20 ">
                <div class="card-date">
                    <div class="card-month">{{quality.date|date:'MMM'}}</div>
                    <div class="card-year">{{quality.date|date:'yyyy'}}</div>
                </div>
                <div class="card-info">
                    <div class="">
                        <p class=" pull-left "><span class="glyphicon glyphicon-check "></span>No. of Escaped Defects</p>
                        <p class="pull-right "><b>{{quality.defects}}</b></p>
                    </div>

                    <div class="">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to ACSD</p>
                        <p class="pull-right"><b>{{quality.defectsExtAcsd}}</b></p>
                    </div>

                    <div class="">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to CAT</p>
                        <p class="pull-right"><b>{{quality.defectsExtCat}}</b></p>
                    </div>

                </div>
            </div>
        </div>
    </div> <!--for loop ends here  -->
</div>
<!--Section level aggregation ends here-->


<!--quality table starts here -->
<div class="col-md-3 col-sm-4 col-xs-12 marb10">
    <div class="form-select">
        <label>Year:</label>
        <select (change)="onSelectYear($event.target.value)">
        <option *ngFor="let year of years"   [ngValue]="year">{{year.id}}</option>
</select>
        <br/><br/>
    </div>
</div>

<div class="tab-table col-xs-12 mart20" *ngIf="sectionaggregatedvalue==false && divisionaggregatedvalue==false && departmentaggregatedvalue==false">
    <div *ngFor="let data of qualityDetails;let i= index">
        <div class="col-xs-12  teamname mart20">
            <h4>
                <center>{{data.teamName}}</center>
            </h4>
            <h4>
                <center> Total No. of Escaped Defects Projected:{{data.totalNoOfDefects}} </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to ACSD:{{data.totalDefectsExtAcsd}} </center>
            </h4>
            <h4>
                <center>Total Quality Defects-External to CAT:{{data.totalDefectsExtCat}} </center>
            </h4>
        </div>
        <!--<h4><center>Total Quality Defects-External to CAT:{{tempteamsdef[i].totalDefectsExtCat}} </center></h4>
        <h4><center>end of all team</center></h4>-->

        <div class="col-sm-6  marb20" *ngFor="let quality of data.qualityData">
            <div class="card-block  col-xs-12 no-padding editable mart20 ">
                <div class="card-date">
                    <div class="card-month">{{quality.date|date:'MMM'}}</div>
                    <div class="card-year">{{quality.date|date:'yyyy'}}</div>
                </div>
                <div class="card-info">
                    <div class="" *ngIf="quality.isCurrentMonth === false || editableField==false">
                        <p class=" pull-left "><span class="glyphicon glyphicon-check "></span>No. of Escaped Defects</p>
                        <p class="pull-right "><b>{{quality.defects}}</b></p>
                    </div>
                    <div class=" " *ngIf="quality.isCurrentMonth === true && editableField">
                        <p class="">
                            <span class="glyphicon glyphicon-edit"></span>
                            <input type="text" placeholder="Enter No. of Escaped Defects" [(ngModel)]="quality.defects" (ngModelChange)="onClickdefects(quality.defects,quality.date.toString(),data.teamId,data.sectionId,data.divisionId)"
                            /></p>
                    </div>
                    <div class="" *ngIf="quality.isCurrentMonth === false || editableField==false">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to ACSD</p>
                        <p class="pull-right"><b>{{quality.defectsExtAcsd}}</b></p>
                    </div>
                    <div class="" *ngIf="quality.isCurrentMonth=== true && editableField">
                        <p class="">
                            <span class="glyphicon glyphicon-edit"></span>
                            <input type="text" placeholder="Enter Quality Defects-External to ACSD" [(ngModel)]="quality.defectsExtAcsd" (ngModelChange)="onClickdefects(quality.defectsExtAcsd,quality.date.toString(),data.teamId,data.sectionId,data.divisionId)"
                            /></p>
                    </div>
                    <div class="" *ngIf="quality.isCurrentMonth === false || editableField==false">
                        <p class="pull-left"><span class="glyphicon glyphicon-check"></span>Quality Defects-External to CAT</p>
                        <p class="pull-right"><b>{{quality.defectsExtCat}}</b></p>
                    </div>
                    <div class="" *ngIf="quality.isCurrentMonth === true && editableField">
                        <p class="">
                            <span class="glyphicon glyphicon-edit"></span>
                            <input type="text" placeholder="Enter Quality Defects-External to CAT" [(ngModel)]="quality.defectsExtCat" (ngModelChange)="onClickdefects(quality.defectsExtCat,quality.date.toString(),data.teamId,data.sectionId,data.divisionId)"
                            /></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12  teamname mart20">
            <h4>
                <center>end of team</center>
            </h4>
        </div>
    </div>
</div>

<!--quality table ends here-->



